In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# 1) Read the CSV without headers
path_to_csv = r'../Data/Recidiv.csv'
df = pd.read_csv(path_to_csv, sep=';', header=None, dtype=str)

# 2) Compute how many period columns there are
n_cols = df.shape[1]
n_periods = n_cols - 4  # First 4 columns are dimensions

# 3) Generate period labels from 2008:2010 up to (2008 + n_periods -1):(2010 + n_periods -1)
start_year = 2008
period_labels = [
    f"{year}:{year+2}"
    for year in range(start_year, start_year + n_periods)
]

# 4) Assign column names
df.columns = [
    "Recidivh√¶ndelser_code",
    "Uddannelse_code",
    "K√∏n_code",
    "Alder_code"
] + period_labels

# 5) Convert period columns to numeric (optional but recommended before melting if you want to analyze in wide format)
for col in period_labels:
    df[col] = pd.to_numeric(df[col], errors="coerce")

# 6) Label encode all object columns (optional, only for ML use)
data_column_category = df.select_dtypes(include="object").columns
df_label_encoded = df.copy()
for col in data_column_category:
    le = LabelEncoder()
    df_label_encoded[col] = le.fit_transform(df[col])

# 7) Melt all period columns into long form
df_long = df.melt(
    id_vars=["Recidivh√¶ndelser_code", "Uddannelse_code", "K√∏n_code", "Alder_code"],
    value_vars=period_labels,
    var_name="Periode",
    value_name="Antal"
)

# 8) Optional: Map codes to readable labels
recid_map = {
    "106": "Ingen tilbagefald",
    "107": "1 tilbagefald",
    "108": "2 tilbagefald",
    "109": "3 tilbagefald",
    "110": "4-9 tilbagefald",
    "111": "10 eller flere tilbagefald",
}
udd_map = {
    "10": "Grundskole",
    "20": "Gymnasial uddannelse",
    "35": "Erhvervsuddannelse",
    "40": "Videreg√•ende uddannelse",
    "00": "Uoplyst uddannelse"
}
gender_map = {
    "M": "M√¶nd",
    "K": "Kvinder"
}
age_map = {
    "1519": "15‚Äì19 √•r",
    "2024": "20‚Äì24 √•r",
    "2529": "25‚Äì29 √•r",
    "3034": "30‚Äì34 √•r",
    "3539": "35‚Äì39 √•r",
    "4049": "40‚Äì49 √•r",
    "5059": "50‚Äì59 √•r",
    "6099": "60+ √•r"
}

df_long["Recidivh√¶ndelser"] = df_long["Recidivh√¶ndelser_code"].map(recid_map)
df_long["Uddannelse"] = df_long["Uddannelse_code"].map(udd_map)
df_long["K√∏n"] = df_long["K√∏n_code"].map(gender_map)
df_long["Alder"] = df_long["Alder_code"].map(age_map)

# 9) Format and type conversion
df_long["Periode"] = df_long["Periode"].str.replace(":", "‚Äì")  # e.g. "2008:2010" ‚Üí "2008‚Äì2010"
df_long["Antal"] = pd.to_numeric(df_long["Antal"], errors="coerce")

# 10) Drop code columns
df_long = df_long.drop(columns=[
    "Recidivh√¶ndelser_code",
    "Uddannelse_code",
    "K√∏n_code",
    "Alder_code"
])

# 11) Basic checks
print("\nüßæ Preview of the first 10 rows:")
print(df_long.head(10))

print("\nüìã DataFrame structure:")
df_long.info()

print("\nüîç Data types:")
print(df_long.dtypes)

print("\nüìä Statistical summary of 'Antal':")
print(df_long["Antal"].describe())

# 12) Export cleaned DataFrame
df_long.to_csv("../Data/CleanedRecidiv.csv", index=False)
print(f"\n‚úÖ Exported cleaned data with shape: {df_long.shape}")

# Optional: Preview random sample from the original dataset
print("\nüé≤ Sample from original dataset:")
print(df.sample(10))

üßæ Preview of the first 10 rows:
     Periode  Antal   Recidivh√¶ndelser  Uddannelse      K√∏n     Alder
0  2008‚Äì2010   3502  Ingen tilbagefald  Grundskole     M√¶nd  15‚Äì19 √•r
1  2008‚Äì2010   2908  Ingen tilbagefald  Grundskole     M√¶nd  20‚Äì24 √•r
2  2008‚Äì2010   2126  Ingen tilbagefald  Grundskole     M√¶nd  25‚Äì29 √•r
3  2008‚Äì2010   1996  Ingen tilbagefald  Grundskole     M√¶nd  30‚Äì34 √•r
4  2008‚Äì2010   2185  Ingen tilbagefald  Grundskole     M√¶nd  35‚Äì39 √•r
5  2008‚Äì2010   4224  Ingen tilbagefald  Grundskole     M√¶nd  40‚Äì49 √•r
6  2008‚Äì2010   2580  Ingen tilbagefald  Grundskole     M√¶nd  50‚Äì59 √•r
7  2008‚Äì2010   2159  Ingen tilbagefald  Grundskole     M√¶nd    60+ √•r
8  2008‚Äì2010   1155  Ingen tilbagefald  Grundskole  Kvinder  15‚Äì19 √•r
9  2008‚Äì2010    805  Ingen tilbagefald  Grundskole  Kvinder  20‚Äì24 √•r

üìã DataFrame structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6240 entries, 0 to 6239
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Periode           6240 non-null   object
 1   Antal             6240 non-null   int64
 2   Recidivh√¶ndelser  6240 non-null   object
 3   Uddannelse        6240 non-null   object
 4   K√∏n               6240 non-null   object
 5   Alder             6240 non-null   object
dtypes: int64(1), object(5)
memory usage: 292.6+ KB

üîç Data types:
Periode             object
Antal                int64
Recidivh√¶ndelser    object
Uddannelse          object
K√∏n                 object
Alder               object
dtype: object

üìä Statistical summary of 'Antal':
count    6240.000000
mean      317.871635
std       744.287454
min         0.000000
25%         7.000000
50%        41.000000
75%       236.000000
max      7778.000000
Name: Antal, dtype: float64

‚úÖ Exported cleaned data with shape: (6240, 6)

üé≤ Sample from original dataset:
    Recidivh√¶ndelser_code Uddannelse_code K√∏n_code Alder_code  2008:2010  \
365                   110              35        K       4049         13
87                    107              10        M       6099        268
320                   110              10        M       1519       1024
310                   109              00        M       5059         14
239                   108              00        K       6099          0
127                   107              35        K       6099         38
92                    107              10        K       3539        100
214                   108              40        M       5059         53
339                   110              20        M       3034         21
178                   108              20        M       2529         37

     2009:2011  2010:2012  2011:2013  2012:2014  2013:2015  2014:2016  \
365         20         14         16         22         19         21
87         277        338        344        349        349        351
320        988       1019       1135       1096        922        875
310         14         17         18         19         29         36
239          2          1          0          1          3          0
127         63         57         72         79         79         82
92         136        139        128        146        113        141
214         62         89         91        106        109        134
339         14         24         25         19         24         16
178         38         35         25         37         33         48

     2015:2017  2016:2018  2017:2019  2018:2020  2019:2021  2020:2022
365         11         12         21         20         29         21
87         341        308        338        324        363        465
320        756        846        818        863        896        925
310         20         20         24         23         24         38
239          1          1          1          2          8          4
127         81         80         69         82         83        107
92         126        114        100        101        123        168
214        128        115        112        111        129        157
339         17         17         25         26         23         37
178         54         49         58         87        120        114

In [7]:
from sklearn.preprocessing import LabelEncoder

df_encoded = df_long.copy()
categorical_cols = df_encoded.select_dtypes(include='object').columns

for col in categorical_cols:
    le = LabelEncoder()
    df_encoded[col] = le.fit_transform(df_encoded[col].astype(str))

df_long.to_csv("../Data/CleanedRecidiv.csv", index=False)
df_encoded.to_csv("../Data/EncodedRecidiv.csv", index=False)  # Optional export
print(f"\n‚úÖ Exported cleaned data with shape: {df_long.shape}")
print(f"‚úÖ Exported encoded data with shape: {df_encoded.shape}")

‚úÖ Exported cleaned data with shape: (6240, 6)
‚úÖ Exported encoded data with shape: (6240, 6)

In [13]:
df_encoded.head()

   Periode  Antal  Recidivh√¶ndelser  Uddannelse  K√∏n  Alder
0        0   3502                 5           1    1      0
1        0   2908                 5           1    1      1
2        0   2126                 5           1    1      2
3        0   1996                 5           1    1      3
4        0   2185                 5           1    1      4

In [12]:
df_encoded.sample(10)

      Periode  Antal  Recidivh√¶ndelser  Uddannelse  K√∏n  Alder
3954        8    925                 0           0    1      2
4931       10    245                 0           4    1      3
3289        6     20                 1           1    0      1
4567        9     32                 3           1    1      7
5411       11    284                 0           4    1      3
5232       10     29                 1           0    1      0
3691        7     43                 4           1    0      3
3185        6     27                 3           3    1      1
1398        2     13                 1           0    1      6
688         1      1                 2           4    1      0

In [15]:
df_encoded.describe()

,Periode,Antal,Recidivh√¶ndelser,Uddannelse,K√∏n,Alder
count,6240.000000,6240.000000,6240.000000,6240.000000,6240.00000,6240.000000
mean,6.000000,317.871635,2.500000,2.000000,0.50000,3.500000
std,3.741957,744.287454,1.707962,1.414327,0.50004,2.291471
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,3.000000,7.000000,1.000000,1.000000,0.00000,1.750000
50%,6.000000,41.000000,2.500000,2.000000,0.50000,3.500000
75%,9.000000,236.000000,4.000000,3.000000,1.00000,5.250000
max,12.000000,7778.000000,5.000000,4.000000,1.00000,7.000000